<%- include('../partials/head') -%>

<%- include('../partials/navbar-tower-admin') -%>

    <h1>Update Course</h1>
</section>
    <!-- Create Course -->
    <section class="about-us">
        <div class="row">
            <div class="about-col">
                <main>
                <h1> <span>Update Course</span> </h1>
                <form action="/courses/<%= foundCourse._id %>?_method=PUT" method="POST">
                <div>
                    <label for="courseName">CourseName: </label>
                    <input type="text" name="courseName" id="courseName" minlength="1" value="<%= foundCourse.courseName %>" required />
                </div>

                <div>
                    <label for="about">About the course: </label>
                    <input type="text" name="about" id="about" minlength="5" value="<%= foundCourse.about %>" required />
                </div>

                <div>
                    <label for="date">Date and time: </label>
                    <input type="text" name="date" id="date" min="1" value="<%= foundCourse.date %>"/>
                </div>

                <div>
                    <label for="location">Location: </label>
                    <input type="text" name="location" id="location" min="1" value="<%= foundCourse.location %>"/>
                </div>

                <div>
                    <label for="moreInfor">More about the course:</label>
                    <textarea class="text-area-label" name="moreInfor" id="moreInfor" placeholder="moreInfor"><%= foundCourse.moreInfor %></textarea>
                </div>

                <div>
                    <input type="submit" value="Submit"/>
                </div>

            </form>
            </main>
            </div>
            <div class="about-col">
                <img src="/images/Screen Shot 2023-02-25 at 3.38.52 PM.png" alt="a colorful rainbow fish">
            </div>
        </div>
    </section>

<%- include('../partials/footer') -%>
